// @import 'variables'

body {
	background-color: #4db8ff;
}

.jumbotron {
	.logo {
		background-image: url("../linden-seal-2.png");
		width: 150px;
		height: 150px;
		margin: auto 0;
	}

	background-image: url("../Linden.png");
	height: 50vh;
}

.col-lg-4 {
	padding-bottom: 20px;

	h2 {
		color:  white;
	}

	h4 {
		color: #e67300;
	}
}

li {
	list-style-type: none;
	margin: 10px 4px;

	.ez {
		width: 210px;
		height: 30px;
		background-color: #ff884d;
		color: white;
		border-radius: 20px;
	}
}